.heroTitle {
    display: flex;
    font-family: 'Permanent Marker', cursive;
    font-size: 6.5rem;
    justify-content: center;
    padding: 2rem;
    text-align: center;
}

.introPage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 80vh;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 2rem;
}

.background {
    display: flex;
    align-content: center;
    justify-content: center;
    
}

.inputName {
    display: flex;
    font-size: 2.5rem;
    margin: 1rem;
}

.playBtn {
    display: flex;
    font-size: 2.5rem;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.qPage {
    display: none;
}

.topQPage {
    display: flex;
    justify-content: flex-end;
    width: 80vw;
    height: 5vh;
    align-content: center;
    flex-wrap: wrap;
    font-size: 1.5rem;
    padding: 1rem;
}

.middleQPage {
    display: flex;
    width: 80vw;
    height: 60vh;
    flex-direction: row;
}

.question {
    display: flex;
    padding: 1rem;
    font-size: 2.5rem;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    width: 40vw;
}

.answer {
    padding: 1rem;
    width: 38vw;
    margin: 1vw;
    font-size: 1.5rem;
}

.tips {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 38vw;
}

.card {
    width: 15vw;
    height: 15vh;
}

.hide {
    display: none;
}

.bottomPage{
    display: flex;
}

#won {
    font-family: 'Permanent Marker', cursive;
    font-size: 6.5rem;
    justify-content: center;
    padding: 2rem;
    text-align: center;
}

#lose {
    font-family: 'Permanent Marker', cursive;
    font-size: 6.5rem;
    justify-content: center;
    padding: 2rem;
    text-align: center;
}

.result {
    font-family: 'Permanent Marker', cursive;
    font-size: 6.5rem;
    justify-content: center;
    padding: 2rem;
    text-align: center;
}