//*font-family: 'Anton', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Russo One', sans-serif;*//

.heroTitle {
    display: flex;
    justify-content: center;
    padding: 2rem;
    text-align: center;
    width: 10%;
}

.introPage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 70%;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 2rem;
}

.background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("Imgs/fundo.png");
    background-position: center;
    background-size: 100%;
    background-color: black;
    background-repeat: no-repeat;
}

.inputName {
    display: flex;
    font-size: 2.5rem;
    margin: 1rem;
}

.playBtn {
    display: flex;
    font-size: 2.5rem;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.qPage {
    display: none;
}

.topQPage {
    display: flex;
    justify-content: flex-end;
    width: 80vw;
    height: 30vh;
    align-content: flex-end;
    flex-wrap: wrap;
    font-size: 1.5rem;
    padding: 1rem;
    color: white;
    font-family: 'Russo One', sans-serif;
}

.middleQPage {
    display: flex;
    width: 80vw;
    height: 60vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.question {
    display: flex;
    padding: 1rem;
    font-family: 'Russo One', sans-serif;
    font-size: 2.5rem;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    width: 40vw;
    color: white;
}

.answer {
    padding: 1rem;
    width: 38vw;
    margin: 1vw;
    font-size: 1.5rem;
}

.tips {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 38vw;
}

.card {
    width: 15vw;
    height: 15vh;
}

.hide {
    display: none !important;
}

.bottomPage{
    display: flex;
}

#resultPage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 80vh;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 2rem;
}

#won {
    font-family: 'Permanent Marker', cursive;
    font-size: 4.5rem;
    justify-content: center;
    padding: 2rem;
    text-align: center;
    color: white;
}

#lose {
    font-family: 'Permanent Marker', cursive;
    font-size: 4.5rem;
    justify-content: center;
    padding: 2rem;
    text-align: center;
    color: white;
}

.result {
    font-family: 'Permanent Marker', cursive;
    font-size: 6.5rem;
    justify-content: center;
    padding: 2rem;
    text-align: center;
}
/* === removing default button style ===*/
.button {
    margin: 0;
    background: transparent;
    padding: 0;
    border: none;
  }
  
  /* button styling */
  .button {
    --border-right: 6px;
    --text-stroke-color: rgba(255,255,255,0.6);
    --animation-color: #37FF8B;
    --fs-size: 3em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: 'Russo One', sans-serif;
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
    
}

  /* this is the text, when you hover on button */
  .hover-text {
    cursor: pointer;
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
  /* hover */
  .button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
  }

  .shake {
    cursor: pointer;
    height: 3em;
    width: 20em;
    border: none;
    border-radius: 10em;
    background: #a7a7a7;
    font-size: 1.5rem;
    color: #ffffff;
    font-family: 'Russo One', sans-serif;
    font-weight: 400;
    box-shadow: 0 9px #999;
   }
   
   .shake:hover {
    animation: shake3856 0.4s linear infinite both;
   }
   
   @keyframes shake3856 {
    0% {
     -webkit-transform: translate(0);
     transform: translate(0);
    }
   
    20% {
     -webkit-transform: translate(-2px, 2px);
     transform: translate(-2px, 2px);
    }
   
    40% {
     -webkit-transform: translate(-2px, -2px);
     transform: translate(-2px, -2px);
    }
   
    60% {
     -webkit-transform: translate(2px, 2px);
     transform: translate(2px, 2px);
    }
   
    80% {
     -webkit-transform: translate(2px, -2px);
     transform: translate(2px, -2px);
    }
   
    100% {
     -webkit-transform: translate(0);
     transform: translate(0);
    }
   }
   .shake:active {
    background-color: #292929;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    }
   
   .input {
    align-self: start;
    border: 3px solid rgb(236, 43, 43);
    border-radius: 20px;
    background-image: linear-gradient(120deg,#3c3c3c,#585858);
    color: rgb(236, 43, 43);
    cursor: pointer;
    padding: 7px 12px;
    font-family: 'Russo One', sans-serif;
    font-size: 17px;
    transition: all 2s;
    max-width: 370px;
    width: 500%;
    height: 200%;
    margin: 2rem;
   }
   
   .input:focus {
    outline-color: rgb(236, 43, 43);
   }

   .card {
    width: 150px;
    height: 204px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
    background: #fff;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    position: relative;
    transition: all .4s;
    text-align: center;
    margin: 0.5rem;
    align-items: center;
}
   
   .card::before {
    content: '---content---';
    letter-spacing: 0.2em;
    position: absolute;
    bottom: 8px;
    left: 20px;
    color: rgb(51, 51, 51);
    font-size: 0.8em;
    font-weight: 700;
   }
   
   .card div {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.212);
    cursor: pointer;
    z-index: 10;
    transition: all .4s;
    background-color: rgb(233, 13, 13);
   }
   
   .card:hover div {
    transform: translateY(-30px);
   }

   .center {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    }